#nav{
    position:fixed;
    height:100%;
    width:250px;
    top:0;
    left:0;
    padding-top: 2%;
    background-color: rgb(155, 153, 153);
}

#nav h1 {
    padding-left: 18%;
    padding-bottom: 40%;
}

#main{
    margin-left: 250px;
}
@media only screen and (max-width: 900px) {
    #nav {
      display: none;
    }
    #main{
        margin-left: 0px;
    }
  }

#home img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    border-radius: 50%;
}

#home {
    text-align: center;
    padding-top: 15%;
    padding-bottom: 15%;
}

li {
    padding: .5rem;
    cursor: pointer;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: darkgray;
}

@keyframes blink {
    50% {
      opacity: 0;
    }
  }

.blinker {
    animation: blink 1s step-start 0s infinite;
}

.icon {
    padding-left: 5%;
    padding-right: 10%;
}

#down {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px;
    width: 150px;
    font-size: 20px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.Icon-width i {
    padding: 15px;
    font-size: 30px;
    color: black;
}